<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    

    <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Serial No.</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Accept</th>
            <th scope="col">Reject</th>
          </tr>
        </thead>
        <tbody>
            <% allRequest.map((data,index)=>{%>
          <tr>
                <th scope="row"><%=index+1%></th>
                <td><%= data.title%></td>
                <td><%= data.author%></td>
                <td><%= data.description%></td>
                <td><%= data.isAllowed%></td>
                <td><form action="/api/acceptrequest/<%=data._id%>" method="POST">
                  <button>Accept</button>
                </form></td>
                <td><form action="/api/rejectrequest/<%=data._id%>" method="post">
                  <button>Reject</button>
                </form></td>
                <!-- <td><a href="/api/acceptrequest/<%=data._id%>">Accept</a></td>
                <td><a href="">Reject</a></td> -->
                <!-- <td><a href="" <i class="fa-solid fa-square-check"></i></a></td>
                <td><a href=""><i class="fa-solid fa-xmark-to-slot"></i></a></td> -->
              </tr>
            <%})%>
        </tbody>
      </table>

      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>
</html>